<div class="communications-wrapper">
  <app-communications-tree class="communications-tree" [structure]="currentStructure$ | async" [selectedNode]="selectedNode$  | async" (onNodeClick)="nodeSelected($event)"></app-communications-tree>
  <app-communications-editor class="communications-editor" [rawContent]="currentItem$.value?.content" (onSelectionChange)="handleSelectionChange($event)" (onEditorInit)="initEditor($event)"></app-communications-editor>
  <app-communications-properties class="communications-properties" (saveContent)="saveContent()" [selectedNode]="selectedNode$  | async"></app-communications-properties>
</div>




