<div class="section-title">
  Właściwości
</div>

@if (selectedNode?.tagName === 'IMG') {
  <div class="properties">
    <div>Position X: <input type="text" [value]="nodeStyles?.left || selectedNode?.getBoundingClientRect()?.x" (input)="inputChanged($event, 'left')"></div>
    <div>Position Y:  <input type="text" [value]="nodeStyles?.top || selectedNode?.getBoundingClientRect()?.y" (input)="inputChanged($event, 'top')"></div>
    <div>Width: <input type="text" [value]="nodeStyles?.width || selectedNode?.getBoundingClientRect()?.width" (input)="inputChanged($event, 'width')"></div>
    <div>Height: <input type="text" [value]="nodeStyles?.height || selectedNode?.getBoundingClientRect()?.height" (input)="inputChanged($event, 'height')"></div>
  </div>
}

@if (selectedNode?.tagName === 'TD' || selectedNode?.tagName === 'TR' || selectedNode?.tagName === 'TABLE') {
  <div class="properties">
    <div>Font: <input type="text" [value]="nodeStyles?.fontFamily" (input)="inputChanged($event, 'font-family')"></div>
    <div>Weight:  <input type="text" [value]="nodeStyles?.fontWeight" (input)="inputChanged($event, 'font-weight')"></div>
    <div>Size: <input type="text" [value]="nodeStyles?.fontSize" (input)="inputChanged($event, 'font-size')"></div>
    <div>Color: <input type="color" [value]="rgbToHex(nodeStyles?.color || 'rgb(0, 0, 0)')" (input)="inputChanged($event, 'color')"></div>
  </div>
}

<button mat-flat-button (click)="save()">Zapisz</button>

